<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giang.ql_thuchicanhan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Thu" />
        <activity android:name=".vay" />
        <activity android:name=".No" />
        <activity android:name=".AllHangMuc" />
        <activity android:name=".DanhMucMuaSam" />
        <activity android:name=".ThongKe" />
        <activity android:name=".ThietLap" />
        <activity android:name=".itemoflist" />
        <activity android:name=".danhmuctaikhoan" />
        <activity android:name=".huongdan" />
        <activity android:name=".chi" />
        <activity android:name=".themtaikhoan" />
        <activity android:name=".them_hangmucchi" />
        <activity android:name=".them_hangmucthu"></activity>
    </application>

</manifest>